.rpChat_mini_header{
	background-color: #000;
}
.rpChat_mini_header_title{
	color: #fff;
}
.rpChat_mini_header_img i{
	color: #fff;
}
.rpChat_main_block{
	background-color: #424242;
	-webkit-box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.44);
	-moz-box-shadow:    1px 1px 6px 0px rgba(50, 50, 50, 0.44);
	box-shadow:         1px 1px 6px 0px rgba(50, 50, 50, 0.44);
}
.rpChat_header{
	background-color: #000;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.75);
}
.rpChat_bottom_block{
	background-color: #212121;	
	-webkit-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.44);
	-moz-box-shadow:    0px 0px 9px 0px rgba(50, 50, 50, 0.44);
	box-shadow:         0px 0px 9px 0px rgba(50, 50, 50, 0.44);
}
.rpChat_bottom_block textarea{
	border: none;
	background-color: #424242;
	color: #fff;
}
.rpChat_send_button{
	background-color: #000;
	color: #fff;
	-webkit-box-shadow: 0px 7px 9px 0px rgba(50, 50, 50, 0.44);
	-moz-box-shadow:    0px 7px 9px 0px rgba(50, 50, 50, 0.44);
	box-shadow:         0px 7px 9px 0px rgba(50, 50, 50, 0.44);
}
.rpChat_start_button{
	color: #b71c1c;
}
.rpChat_send_button:hover{
	background: #b71c1c;
	color: #fff;
}
.rpChat_hdr{
	color: #fff;
}
.rpChat_operator_message_block{
	background: #d32f2f;
	color: #fff;
}
.rpChat_client_message_block{
	background: #b71c1c;
}

.spinner{
    color: #fff;
}
.spinner > div {
    background-color: #fff;
}