body{
	min-height: 2000px;
  	padding-top: 50px;
	font-family: "RobotoLight" !important;
  }
.chat_main_block{	
	width: 320px;
	height: 450px;
	position: fixed;
	bottom: -400px;
	//bottom: 0px;
	right: 20px;
	background-color: #FAFAFA;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.55);
	-moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.55);
	box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.55);

	font-family: "RobotoLight";
	overflow: hidden;

}


.chat_main_block::-webkit-scrollbar{
	display: none;
}
.chat_header_block{
	width: 320px;
	height: 50px;
	position: relative;
	background-color: #3f51b5;
	padding: 5px;
	-webkit-box-shadow: 0px 3px 6px -1px rgba(50, 50, 50, 0.59);
	-moz-box-shadow:    0px 3px 6px -1px rgba(50, 50, 50, 0.59);
	box-shadow:         0px 3px 6px -1px rgba(50, 50, 50, 0.59);
}
.chat_bottom_block{
	width: 320px;
	height: 80px;
	position: relative;
	background-color: #E8E8E8;
	overflow-y: none;	
	padding: 10px;
	-webkit-box-shadow: 0px -3px 6px -1px rgba(50, 50, 50, 0.59);
	-moz-box-shadow:    0px -3px 6px -1px rgba(50, 50, 50, 0.59);
	box-shadow:         0px -3px 6px -1px rgba(50, 50, 50, 0.59);
}
.chat_text_block{
	padding: 10px 10px 10px 10px;
	position: relative;
	width: 320px;
	height: 320px;
	overflow-x: hidden;
	overflow-y: scroll;
}
.chat_bottom_block i{
	border: 0px solid red;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-top: 9px;
	margin-left: -2px;
}
.chat_bottom_block a{
	width: 50px;
	height: 50px;
	background-color: #3f51b5;
	border-radius: 50%;
	margin-right: 18px;
	border: 0px solid #ccc;
	float: right;
	color: #fff;
	font-size: 26px;
	text-align: center;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.55);
	-moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.55);
	box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.55);
}
.chat_bottom_block a:hover{
	cursor: pointer;
	background-color: #495BBF;
	-webkit-transition: background-color .3s ease-in-out;
	-moz-transition: background-color .3s ease-in-out;
	-o-transition: background-color .3s ease-in-out;
	transition: background-color .3s ease-in-out;
}
.chat_bottom_block a:active{
	background-color: #26389C;
}
.chat_bottom_block textarea{
	border: 0px;
	width: 220px;
	height: 50px;
	resize: none;
	color: #222222;
	padding: 3px;
	border-radius: 3px;
	font-size: 12px;
	font-family: "RobotoRegular";
}
.chat_operator_message_block{
	border-radius: 3px;
	background: #7986cb;
	float: left;
	padding: 5px;
	color: #fff;
	font-style: italic;
	font-size: 14px;
	font-family: "RobotoRegular";
	margin-bottom: 6px;
}
.chat_operator_message_block p{
	padding: 0;
	margin: 0;
	font-size: 9px;
}
.chat_client_message_block{
	margin-bottom: 6px;
	background: #5c6bc0;
	float: right;
}
.chat_client_message_block p{
	text-align: right;
}
.chat_header_img_block{
	border: 0px solid #fff;
	width: 40px;
	height: 40px;
	margin-left: 2px;
	float: left;
	text-align: center;
}
.chat_header_text_block{
	border: 0px solid #fff;
	width: 250px;
	float: right;
	margin-right: 10px;
	color: #fff;
	margin-top: 10px;
}
.chat_header_block:hover{
	cursor: pointer;
}
.chat_header_block i{
	font-size: 40px;
	color: #fff;
}
.chat_header_block img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
/**/
.top_section{
	background-color:  #3f51b5;
	width: 100% !important;
	padding: 0;
	margin: 0;
	height: 600px;
}
.main_page_info_top_block{
	border: 0px solid #fff;
	margin-top: 100px;
}
.main_page_info_top_block p{
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}
.main_page_info_top_block span{
	width: 200px;
}